<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzit.mapper.PlayerMapper">
    <resultMap id="x" type="player" autoMapping="true">
        <association property="team" javaType="Team" autoMapping="true"/>
    </resultMap>
    <select id="selectId" resultMap="x">
        SELECT * FROM player p JOIN team t ON p.tid=t.tid
        WHERE p.pid=#{pid}
    </select>
    <resultMap id="y" type="player" autoMapping="true">
        <association property="team" column="tid"
                     javaType="team" select="com.xzit.mapper.TeamMapper.selectById"></association>
    </resultMap>
    <select id="selectList" resultMap="y">
        select * from player
    </select>

    <select id="selectByTid" resultType="player" parameterType="int">
        select * from player where tid=#{tid}
    </select>
</mapper>
